<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
    <ion-title>New Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onAddTodo()" class="ion-margin">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input formControlName="title"
                 placeholder="display title"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem"
         *ngIf="taskForm.controls['title'].errors &&
         taskForm.controls['title'].touched">
      Title is required
    </div>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea formControlName="description"
                    placeholder="short description of the task"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Priority</ion-label>
      <ion-input formControlName="priorityNumber" max="10" min="1"
                 placeholder="1-10 (10 been highest)"
                 type="number"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem"
         *ngIf="taskForm.controls['priorityNumber'].errors">
      Enter number between 1 - 10
    </div>
    <div class="ion-margin-top ion-margin-bottom ion-text-center ">
      <ion-button type="submit" [disabled]="!taskForm.valid" type="submit" class="add-task-button"
                  >Add
      </ion-button>
    </div>
  </form>

</ion-content>

