<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="landing"></ion-back-button>
    </ion-buttons>
    <ion-title>New Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-margin">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input placeholder="display title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea placeholder="short description of the task" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Priority</ion-label>
      <ion-input max="10" min="1" placeholder="1-10 (10 been highest)" type="number"
                 name="priority"></ion-input>
    </ion-item>
    <div class="ion-margin-top ion-margin-bottom ion-text-center ">
      <ion-button type="submit" class="add-task-button"
                  (click)="onAddTodo()">Add
      </ion-button>
    </div>
  </form>

</ion-content>

