<app-profile-header></app-profile-header>

<ion-content>

  <ion-searchbar slot="fixed" placeholder="Filter Todos" class="search-bar"
                 autocomplete="on" (keyup)="onSearchTask($event.target.value)">
  </ion-searchbar>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="filteredTask" class="tasks-list">
    <ion-item *ngFor="let task of filteredTask" class="ion-margin-end"
              (click)="onTaskDetails(task)">
      <ion-avatar slot="start">
        <img src="../../assets/todo-icon-2.jpeg"/>
      </ion-avatar>
      <ion-label>
        <h2 class="task-item-title">{{task.displayTitle}}</h2>
        <p>{{task.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
