.search-bar {
  max-width: 77%;
  margin-top: 7px;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

ion-searchbar {
  --icon-color: var(--ion-color-primary);
  --border-radius: .7rem;
}

.tasks-list{
  margin-top: 4.5rem !important;
}

.task-item-title{
  color: steelblue;
  font-weight: bold;
}
