.login-button {
  width: 25vh;
  height: 2.5rem;
}

.forgot-password {
  margin-top: .6rem;
  color: #8b00004f;
}

.sign-in-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.g-logo {
  height: 1rem;
  margin-right: 1rem;
}
